{# templates/inscription/accueil.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block titre %}
    {{ parent()|upper }} - Session 2025
{% endblock %}

{% block body %}
    <img src="{{ asset('images/logo.png') }}" title="my image" alt="My image" width="150" height="180">
    <h2><span class="text-success">Bienvenue à notre page d'accueil</span></h2>
    <h1 id="lucky-number">Your lucky number is {{ number }}</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            initAccueilPage();
        });
    </script>
{% endblock %}